<ul>
  <li><%= link_to 'About', static_pages_about_path %></li>
  <li><%= link_to 'Help', static_pages_help_path %></li>
</ul>

<h1 class='orignal_style'>StaticPages#home</h1>

<p>Find me in app/views/static_pages/home.html.erb</p>

<p> Add 3 personal qualities</p>

<p> First try </p>

<%= image_tag ('luke.jpg'), class:'picture' %>
<p> Luke Helminiak</p>
<p> Description</p>
<div style="color:blue">
  <h2> History </h2>
  <p> Discription of my programming history</p>
</div>
